body {
  background-image: url('LogoSoporte.png'),url('LogoSat.png') ;
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: 300px auto, 300px auto; 

}

h1, h2 {
  text-align: center;
  color: #2986eb;
  font-weight: bold;
  text-shadow: 1px 1px #333333;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid hsl(0, 0%, 65%);
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  form {
    padding: 10px;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  input[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
  }
}


input[type="submit"]:hover {
  background-color: #2986eb;
}

a {
  color: #2986eb;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  form {
    padding: 10px;
  }

  input[type="email"],
  input[type="password"] {
    padding: 8px;
    font-size: 14px;
  }

  input[type="submit"] {
    padding: 8px 16px;
    font-size: 14px;
  }

  
}

